.wrapper {
  /* padding-top: 50px; */
  background: #ebedee86;
  height: 80vh;
  width: 140vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-content: space-around; */
  overflow: hidden;
  box-shadow: 0 10px 12px rgb(250, 244, 244), 0 10px 12px rgb(209, 192, 192);
}
