.navbar {
  height: 15vh;
  text-align: center;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.288);
  color: aliceblue;
}
.par1cont {
  display: flex;
  justify-content: space-around;
}
.partitle:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
  transition: all 0.5s ease;
}
