.card {
  background: #fff;
  border-radius: 2px;
  /* height: 120px; */
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;

  position: relative;
  /* width: 120px; */
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card > .img-container {
  height: 150px;
  width: 150px;
  overflow: hidden;
  text-align: center;
  background: #d5dee4;
}
.img-container > img {
  width: 50px;
  height: 50px;
}
img {
  width: 150px;
  height: 150px;
}

img:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
  transition: all 0.5s ease;
}

.card > .content {
  padding-left: 0rem;
  padding-right: 4rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}

.card > .remove {
  color: #ff1744;
  font-size: 48px;
  position: absolute;
  top: -20px;
  right: 100px;
  cursor: pointer;
}

.card > .remove:hover {
  color: #d50000;
}
